.parent{
     display: flex;
     width: 1200px;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 20px auto;
}

.parent div{
    background-color: red;
    width: 290px;
    text-align: center;
}
/* use this throughout the print */
/* @media print{
    .parent div:first-child{
        font-size: 100px;
        display: none;
    }
} */

/* @media (min-width:1000px){
    .parent div {
        background-color: blue;
    }
} */
ffffffff
@media (min-width:1000px) and (max-width:1400px){
        .parent div {
                    background-color: blue;
        }

}
