
.parent {
    border: 2px solid red;
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.parent div{
    color: blue;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
    background-color: blueviolet;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .parent div {
        width:calc(50%-10px);
    }
}